### 1. Write a program to accept percentage from the user and display according to the given criteria.

In [11]:
marks = int(input("Enter marks (%) :: "))

result = "Your Grade is   ::  " 

if marks > 90:
    result += "A"
elif marks > 80 and marks <= 90:
    result += "B"
elif marks >= 60 and marks <= 80:
    result += "C"
else:
    result += "D"
    
print(result)

Enter marks (%) ::  78

Your Grade is   ::  C

***
<br>

### 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the given criteria:

In [20]:
cost = int(input("Enter price    ::"))

result = "Tax to be paid :: "

if cost > 100000:
    result += str(round(cost * 0.15, 3))
elif cost > 50000 and cost <= 100000:
    result += str(round(cost * 0.1, 3))
else:
    result += str(round(cost * 0.05, 3))
    
print(result)

Enter price    :: 8465

Tax to be paid :: 423.25

***
<br>

### 3. Accept any city from the user and display monuments of that city.

In [52]:
aux = {
    "Delhi" : "Red Fort",
    "Agra" : "Taj Mahal",
    "Jaipur" : "Jal Mahal"
}

cityName = input("Enter city name ::").title()

if cityName not in aux:
    print("Invaid input!")
else:
    print(f'Famous Monument :: {aux[cityName]}')

Enter city name :: delhi

Famous Monument :: Red Fort

***
<br>

### 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [48]:
number = int(input("Enter number ::"))
temp = number
count = 0

while(temp > 10):
    temp /= 3
    count += 1
    
print(f"{number} can be divided by 3 for {count} times before it is less than or equal to 10.")

Enter number :: 56

56 can be divided by 3 for 2 times before it is less than or equal to 10.

***
<br>

### 5. Why and When to Use while Loop in Python give a detailed description with example

While loop is used when we need to perform some operation over a certain range. When we need to end the loop on a condition other than the number of times, we use a while loop. In this case, it is not necessary to know the condition beforehand. That is why we can give a boolean expression in the initialization of the loop.<br><br>
For Example, we are given 2 numbers num1 and num2 and we need to square num1 untill it becomes equal to greater than num2.

In [57]:
num1 = 5
num2 = 1500

while(num1 < num2):
    num1 **= 2

print(f"num1 :: {num1}, num2 :: {num2}")

num1 :: 390625, num2 :: 1500

In the above example we don't know the exact number of iterations we will require because the condition depends on the variable which keeps on changing as the loop executes.

***
<br>

### 6. Use nested while loop to print 3 different pattern.

In [86]:
def pattern1(n):
    i = 1
    while i <= n:
        j = 1
        while j <= i:
            print(j, end="")
            j += 1
        print()
        i += 1

In [87]:
def pattern2(n):
    i = 1
    while i <= n:

        j = 1
        while j <= n-i:
            print('*', end="")
            j += 1

        j = 1
        while j <= i:
            print(j, end="")
            j += 1

        print()

        i += 1

In [88]:
def pattern3(n):
    i = 1
    while i <= n:

        j = 1
        while j <= n-i:
            print('*', end="")
            j += 1

        j = 1
        while j <= i:
            print(j, end="")
            j += 1

        j -= 2

        while j >= 1:
            print(j, end="")
            j -= 1

        j = 1
        while j <= n-i:
            print('*', end="")
            j += 1

        print()

        i += 1

In [92]:
n = int(input("Enter number ::"))
print()

pattern1(n)
print()

pattern2(n)
print()

pattern3(n)

Enter number :: 5

1
12
123
1234
12345

****1
***12
**123
*1234
12345

****1****
***121***
**12321**
*1234321*
123454321

***
<br>

### 7. Reverse a while loop to display numbers from 10 to 1.

In [94]:
i = 10

while i >= 1:
    print(i, end = " ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

***
<br>

### 8. Reverse a while loop to display numbers from 10 to 1

In [95]:
i = 10

while i >= 1:
    print(i, end = " ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

***
<br>